body {
    font-size:18px;
    line-height: 1.5;
}

header, nav, main, footer {
    margin: 1.25rem auto;
    max-width:760px;
    text-align: center;
    
}

h2 {border-bottom: groove;}

header, footer {
    background-color: darkgreen;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
}



a {
    color: black;
}